<div class="categories-wrapper container">
  <button type="button" class="primary-button">
    <span class="text-decoration-none">精選</span>
  </button>

  <button type="button" class="secondary-button">
    <span class="text-decoration-none">動作／冒險</span>
  </button>

  <button type="button" class="secondary-button">
    <span class="text-decoration-none">動畫</span>
  </button>

  <button type="button" class="secondary-button">
    <span class="text-decoration-none">喜劇</span>
  </button>

  <button type="button" class="secondary-button">
    <span class="text-decoration-none">紀錄片</span>
  </button>

  <button type="button" class="secondary-button">
    <span class="text-decoration-none">劇情片</span>
  </button>

  <button type="button" class="secondary-button">
    <span class="text-decoration-none">奇幻</span>
  </button>

  <button type="button" class="secondary-button">
    <span class="text-decoration-none">恐怖片</span>
  </button>

  <button type="button" class="secondary-button">
    <span class="text-decoration-none">兒童</span>
  </button>

  <button type="button" class="secondary-button">
    <span class="text-decoration-none">音樂</span>
  </button>

  <button type="button" class="secondary-button">
    <span class="text-decoration-none">浪漫喜劇</span>
  </button>

  <button type="button" class="secondary-button">
    <span class="text-decoration-none">科幻</span>
  </button>

  <button type="button" class="secondary-button">
    <span class="text-decoration-none">短片</span>
  </button>

  <button type="button" class="secondary-button">
    <span class="text-decoration-none">運動</span>
  </button>
</div>
