<footer
  class="footer-section position-relative z-index-2 d-flex justify-content-center align"
>
  <div class="footer container d-flex align-items-center flex-direction-column">
    <img class="footer-logo" src="./assets/icons/site-logo.svg" alt="" />

    <ul class="m-0">
      <li>迪士尼用條款</li>
      <li>訂閱協議</li>
      <li>私隱政策</li>
      <li>香港補充私隱政策</li>
      <li>使用說明</li>
      <li>支援裝置</li>
      <li>關於我們</li>
      <li>廣告按興趣顯示</li>
    </ul>

    <p class="footer-content text-center m-0">
      Disney+ 是一項付費訂閱服務，其內容視供應情況而定。 <br />
      Disney+ 服務由 Disney DTC LATAM, Inc.
    </p>

    <p class="footer-content m-0">© 2024 迪士尼及其關聯實體。版權所有。</p>
  </div>
</footer>
