<main class="main-detail-wrapper">
  <section class="position-relative h-100">
    <div class="position-relative swiper-hero-content-wrapper">
      <div class="hero-section-overlay"></div>

      <div class="hero-overlay"></div>

      <img
        class="hero-thumbnail detail-hero-thumbnail w-100"
        src="./assets/images/cartoon.png"
        alt=""
      />

      <div class="container">
        <div class="hero-content z-index-2">
          <div class="showcase-logo-div mb-16">
            <img
              class="showcase-logo"
              src="./assets/images/disney-luca-logo.png"
              alt=""
            />
            <img
              class="showcase-text showcase-text"
              src="./assets/images/disney-luca-text.png"
              alt=""
            />
          </div>

          <div class="specifications-wrapper">
            <img src="./assets/images/7plus-logo.png" alt="" />
            <img src="./assets/images/ad-logo.png" alt="" />
            <img src="./assets/images/cc-logo.png" alt="" />
            <p class="body-review netural-100 m-0">2021 • 1 小時 41 分鐘</p>
          </div>

          <p class="caption captain-text netural-100 m-0">
            青春片、奇幻、動畫、好友
          </p>

          <div class="mb-24 d-flex g-20 flex-wrap">
            <div class="primary-button bg-t">
              <img src="./assets/icons/video-player.svg" alt="" />
              <!-- <a class="text-decoration-none" href="">立即播放</a> -->
            </div>

            <button routerLink="/movie-detail" class="secondary-button">
              預告
            </button>

            <button class="outlined-circle-button">
              <img src="./assets/icons/add.svg" alt="" />
            </button>

            <button class="outlined-circle-button">
              <img src="./assets/icons/users.svg" alt="" />
            </button>
          </div>

          <p class="m-0 detail-description neutral-200">
            《路卡的夏天》－迪士尼和皮克斯動畫工作室共同製作的原創電影－描寫一個小男孩在意大利里維埃拉的一個海濱小鎮的成長故事。路卡（雅各布特倫布萊配音）與他的朋友艾伯托（傑克迪倫格雷澤配音）一起度過一個難忘夏天，他們吃冰淇淋、吃意大利麵、玩滑板車，經歷了許多冒險，但在他們嬉戲玩閙的背後卻隱藏了一個不為人知的秘密：他們是來自水底的海怪。《路卡的夏天》是由奧斯卡獎提名人恩里科卡薩羅薩-《月光光》導演-執導，安德里亞沃倫-《熔岩》製作人-製作。
          </p>
        </div>
      </div>
    </div>
  </section>

  <div class="tabs-section position-relative">
    <div class="container">
      <ul class="nav nav-pills p-0 tablist mb-3" id="pills-tab" role="tablist">
        <li class="nav-item p-0" role="presentation">
          <button
            class="nav-link tabs-button active"
            id="pills-home-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-home"
            type="button"
            role="tab"
            aria-controls="pills-home"
            aria-selected="true"
          >
            推薦影片
          </button>
        </li>
        <li class="nav-item p-0" role="presentation">
          <button
            class="nav-link h3-heading tabs-button"
            id="pills-profile-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-profile"
            type="button"
            role="tab"
            aria-controls="pills-profile"
            aria-selected="false"
          >
            額外收錄
          </button>
        </li>
        <li class="nav-item p-0" role="presentation">
          <button
            class="nav-link tabs-button"
            id="pills-contact-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-contact"
            type="button"
            role="tab"
            aria-controls="pills-contact"
            aria-selected="false"
          >
            簡介
          </button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div
          class="tab-pane fade show active"
          id="pills-home"
          role="tabpanel"
          aria-labelledby="pills-home-tab"
        >
          <!-- Tab 1-->
          <div class="row movie-grid">
            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
              <div class="movie-card">
                <img src="./assets/images/soul.png" alt="" />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
              <div class="movie-card">
                <img src="./assets/images/unidos.png" alt="" />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
              <div class="movie-card">
                <img src="./assets/images/la-launa.png" alt="" />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
              <div class="movie-card">
                <img src="./assets/images/incredinies.png" alt="" />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
              <div class="movie-card">
                <img src="./assets/images/dory.png" alt="" />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
              <div class="movie-card">
                <img src="./assets/images/toy-story.jpeg" alt="" />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
              <div class="movie-card">
                <img src="./assets/images/coco.jpeg" alt="" />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
              <div class="movie-card">
                <img src="./assets/images/vallente.png" alt="" />
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="pills-profile"
          role="tabpanel"
          aria-labelledby="pills-profile-tab"
        >
          <!-- Tab 2-->

          <div class="row movie-grid">
            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
              <div class="movie-card">
                <img src="./assets/images/scois.i.png" alt="" />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
              <div class="movie-card">
                <img src="./assets/images/soul.png" alt="" />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
              <div class="movie-card">
                <img src="./assets/images/scois.i.png" alt="" />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
              <div class="movie-card">
                <img src="./assets/images/soul.png" alt="" />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
              <div class="movie-card">
                <img src="./assets/images/scois.i.png" alt="" />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
              <div class="movie-card">
                <img src="./assets/images/soul.png" alt="" />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
              <div class="movie-card">
                <img src="./assets/images/scois.i.png" alt="" />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
              <div class="movie-card">
                <img src="./assets/images/soul.png" alt="" />
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="pills-contact"
          role="tabpanel"
          aria-labelledby="pills-contact-tab"
        >
          <!-- Tab 3-->

          <div class="row movie-grid">
            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
              <div class="movie-card">
                <img src="./assets/images/scois.i.png" alt="" />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
              <div class="movie-card">
                <img src="./assets/images/soul.png" alt="" />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
              <div class="movie-card">
                <img src="./assets/images/scois.i.png" alt="" />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
              <div class="movie-card">
                <img src="./assets/images/soul.png" alt="" />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
              <div class="movie-card">
                <img src="./assets/images/scois.i.png" alt="" />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
              <div class="movie-card">
                <img src="./assets/images/soul.png" alt="" />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
              <div class="movie-card">
                <img src="./assets/images/scois.i.png" alt="" />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
              <div class="movie-card">
                <img src="./assets/images/soul.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
