<main class="main-section-wrapper">
  <section class="hero-section position-relative">
    <div class="position-relative">
      <!-- overlay 1 -->
      <div class="hero-section-overlay"></div>
      <!-- overlay 2 -->
      <div class="hero-overlay"></div>
      <!-- hero thumbnail -->
      <img
        class="hero-thumbnail w-100"
        src="./assets/images/criminal.png"
        alt=""
      />

      <!--  Information wrapper  -->
      <div class="container">
        <div class="swiper-hero-content z-index-2">
          <div class="hero-logos mb-16">
            <img
              class="hero-logo mr-19"
              src="./assets/images/tv-show-logo.png"
              alt=""
            />
            <img
              class="hero-text-logo"
              src="./assets/images/tv-show-text.png"
              alt=""
            />
          </div>

          <div class="specifications-wrapper">
            <img src="./assets/images/14plus.png" alt="" />
            <img src="./assets/images/ad-logo.png" alt="" />
            <img src="./assets/images/cc-logo.png" alt="" />
            <p class="body-review netural-100 m-0">2021 • 第 1 季</p>
          </div>

          <p class="caption netural-100 m-0 pb-40">科幻、奇幻、冒險</p>

          <!-- Movie Detail  Buttons wrapper -->
          <div class="mb-24 d-flex g-20 flex-wrap">
            <!-- Primary button -->
            <button class="primary-button">
              立即播放
              <img src="./assets/icons/video-player.svg" alt="" />
            </button>
            <!-- Secondary-button -->
            <button class="secondary-button">預告</button>

            <!-- Outlined-button -->

            <button class="outlined-circle-button bg-transparent">
              <img src="./assets/icons/add.svg" alt="" />
            </button>

            <!-- Outlined-button -->

            <button class="outlined-circle-button bg-transparent">
              <img src="./assets/icons/users.svg" alt="" />
            </button>
          </div>

          <p class="episode-name">光榮使命</p>
          <p class="m-0 description">
            在漫威影業的《洛基》中，善變的壞人洛基（湯姆希德斯頓飾）在《復仇者聯盟4：終局之戰》種種事件後的新劇集中繼續扮演惡作劇之神。由凱特赫倫導演，麥可沃爾德倫為首席編劇。
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="season-section position-relative">
    <div class="container">
      <div class="episodes-num-wrapper d-flex">
        <h3 class="h3-heading m-0">季度</h3>
        <div class="d-flex episode-season-num-div">
          <button class="primary-button">1</button>
          <button class="secondary-button">2</button>
        </div>
      </div>

      <!-- Tabs Section -->
      <ul class="nav nav-pills tablist mb-40 p-0" id="pills-tab" role="tablist">
        <li class="nav-item p-0" role="presentation">
          <button
            class="nav-link tabs-button active"
            id="pills-home-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-home"
            type="button"
            role="tab"
            aria-controls="pills-home"
            aria-selected="true"
          >
            推薦影片
          </button>
        </li>
        <li class="nav-item p-0" role="presentation">
          <button
            class="nav-link h3-heading tabs-button"
            id="pills-profile-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-profile"
            type="button"
            role="tab"
            aria-controls="pills-profile"
            aria-selected="false"
          >
            額外收錄
          </button>
        </li>
        <li class="nav-item p-0" role="presentation">
          <button
            class="nav-link tabs-button"
            id="pills-contact-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-contact"
            type="button"
            role="tab"
            aria-controls="pills-contact"
            aria-selected="false"
          >
            簡介
          </button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div
          class="tab-pane fade show active"
          id="pills-home"
          role="tabpanel"
          aria-labelledby="pills-home-tab"
        >
          <div class="row episodes-grid">
            <div class="col-md-6 col-12">
              <div class="episode-card">
                <div class="position-relative">
                  <img
                    class="cover"
                    src="./assets/images/episode-img.jpeg"
                    alt=""
                  />
                  <div class="progress-wrapper" style="--progress-p: 38.5">
                    <div class="progress-div"></div>
                  </div>
                </div>

                <div class="episode-info-wrapper">
                  <div class="d-flex mb-16 justify-content-between">
                    <h5 class="body m-0 episode-title">1. 光榮使命</h5>

                    <h6 class="body-small m-0 neutral-200 episode-view-time">
                      50 分鐘
                    </h6>
                  </div>

                  <p class="m-0 episode-description">
                    洛基在《復仇者聯盟4：終局之戰》偷走宇宙魔方後，來到時間變異管理局。
                  </p>
                </div>
              </div>
            </div>

            <!-- Another episode card col -->
            <div class="col-md-6 col-12">
              <div class="episode-card">
                <div class="position-relative">
                  <img
                    class="cover"
                    src="./assets/images/episode-two.jpeg"
                    alt=""
                  />
                </div>

                <div class="episode-info-wrapper">
                  <div class="d-flex mb-16 justify-content-between">
                    <h5 class="body m-0 episode-title">2. 變異因子</h5>

                    <h6 class="body-small m-0 neutral-200 episode-view-time">
                      53 分鐘
                    </h6>
                  </div>

                  <p class="episode-description m-0">
                    梅比斯讓洛基開始調查工作，但並非時變局的每個人都對惡作劇之神的出現感到興奮。
                  </p>
                </div>
              </div>
            </div>

            <!-- Another episode card col  -->
            <div class="col-md-6 col-12">
              <div class="episode-card">
                <div class="position-relative">
                  <img
                    class="cover"
                    src="./assets/images/episode-three.jpeg"
                    alt=""
                  />
                </div>

                <div class="episode-info-wrapper">
                  <div class="d-flex mb-16 justify-content-between">
                    <h5 class="body m-0 episode-title">3. 拉曼提斯</h5>

                    <h6 class="body-small m-0 neutral-200 episode-view-time">
                      49 分鐘
                    </h6>
                  </div>

                  <p class="episode-description m-0">
                    洛基知道了變異因子的計畫，但他有自己的想法，從此他們的命運將永遠改變。
                  </p>
                </div>
              </div>
            </div>

            <!-- Another episode card col  -->
            <div class="col-md-6 col-12">
              <div class="episode-card">
                <div class="position-relative">
                  <img
                    class="cover"
                    src="./assets/images/episode-four.jpeg"
                    alt=""
                  />
                </div>

                <div class="episode-info-wrapper">
                  <div class="d-flex mb-16 justify-content-between">
                    <h5 class="body m-0 episode-title">4. 分歧點事件</h5>

                    <h6 class="body-small m-0 neutral-200 episode-view-time">
                      48 分鐘
                    </h6>
                  </div>

                  <p class="episode-description m-0">
                    正當梅比斯和獵人B-15尋找洛基和希爾維，時變局內部變得愈來愈緊張和多疑。
                  </p>
                </div>
              </div>
            </div>

            <!-- Another episode card col  -->
            <div class="col-md-6 col-12">
              <div class="episode-card">
                <div class="position-relative">
                  <img
                    class="cover"
                    src="./assets/images/episode-five.jpeg"
                    alt=""
                  />
                </div>

                <div class="episode-info-wrapper">
                  <div class="d-flex mb-16 justify-content-between">
                    <h5 class="body m-0 episode-title">5. 神祕之旅</h5>

                    <h6 class="body-small m-0 neutral-200 episode-view-time">
                      51 分鐘
                    </h6>
                  </div>

                  <p class="episode-description m-0">
                    洛基試圖逃離虛無，他在那裡遇到了幾個不同版本的自己。
                  </p>
                </div>
              </div>
            </div>

            <!-- Another episode card col -->
            <div class="col-md-6 col-12">
              <div class="episode-card">
                <div class="position-relative">
                  <img
                    class="cover"
                    src="./assets/images/episode-six.jpeg"
                    alt=""
                  />
                </div>

                <div class="episode-info-wrapper">
                  <div class="d-flex mb-16 justify-content-between">
                    <h5 class="body m-0 episode-title">6. 時刻守護</h5>

                    <h6 class="body-small m-0 neutral-200 episode-view-time">
                      48 分鐘
                    </h6>
                  </div>

                  <p class="episode-description m-0">
                    在本季大結局中，洛基和希爾維與命運有個約會，而時間無多，危險正在逼近。
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="pills-profile"
          role="tabpanel"
          aria-labelledby="pills-profile-tab"
        >
          <div class="row episodes-grid">
            <div class="col-md-6 col-12">
              <div class="episode-card">
                <div class="position-relative">
                  <img
                    class="cover"
                    src="./assets/images/episode-img.jpeg"
                    alt=""
                  />
                  <div class="progress-wrapper" style="--progress-p: 38.5">
                    <div class="progress-div"></div>
                  </div>
                </div>

                <div class="episode-info-wrapper">
                  <div class="d-flex mb-16 justify-content-between">
                    <h5 class="body m-0 episode-title">1. 光榮使命</h5>

                    <h6 class="body-small m-0 neutral-200 episode-view-time">
                      50 分鐘
                    </h6>
                  </div>

                  <p class="m-0 episode-description">
                    洛基在《復仇者聯盟4：終局之戰》偷走宇宙魔方後，來到時間變異管理局。
                  </p>
                </div>
              </div>
            </div>

            <!-- Another episode card col -->
            <div class="col-md-6 col-12">
              <div class="episode-card">
                <div class="position-relative">
                  <img
                    class="cover"
                    src="./assets/images/episode-two.jpeg"
                    alt=""
                  />
                </div>

                <div class="episode-info-wrapper">
                  <div class="d-flex mb-16 justify-content-between">
                    <h5 class="body m-0 episode-title">2. 變異因子</h5>

                    <h6 class="body-small m-0 neutral-200 episode-view-time">
                      53 分鐘
                    </h6>
                  </div>

                  <p class="episode-description m-0">
                    梅比斯讓洛基開始調查工作，但並非時變局的每個人都對惡作劇之神的出現感到興奮。
                  </p>
                </div>
              </div>
            </div>

            <!-- Another episode card col  -->
            <div class="col-md-6 col-12">
              <div class="episode-card">
                <div class="position-relative">
                  <img
                    class="cover"
                    src="./assets/images/episode-three.jpeg"
                    alt=""
                  />
                </div>

                <div class="episode-info-wrapper">
                  <div class="d-flex mb-16 justify-content-between">
                    <h5 class="body m-0 episode-title">3. 拉曼提斯</h5>

                    <h6 class="body-small m-0 neutral-200 episode-view-time">
                      49 分鐘
                    </h6>
                  </div>

                  <p class="episode-description m-0">
                    洛基知道了變異因子的計畫，但他有自己的想法，從此他們的命運將永遠改變。
                  </p>
                </div>
              </div>
            </div>

            <!-- Another episode card col  -->
            <div class="col-md-6 col-12">
              <div class="episode-card">
                <div class="position-relative">
                  <img
                    class="cover"
                    src="./assets/images/episode-four.jpeg"
                    alt=""
                  />
                </div>

                <div class="episode-info-wrapper">
                  <div class="d-flex mb-16 justify-content-between">
                    <h5 class="body m-0 episode-title">4. 分歧點事件</h5>

                    <h6 class="body-small m-0 neutral-200 episode-view-time">
                      48 分鐘
                    </h6>
                  </div>

                  <p class="episode-description m-0">
                    正當梅比斯和獵人B-15尋找洛基和希爾維，時變局內部變得愈來愈緊張和多疑。
                  </p>
                </div>
              </div>
            </div>

            <!-- Another episode card col  -->
            <div class="col-md-6 col-12">
              <div class="episode-card">
                <div class="position-relative">
                  <img
                    class="cover"
                    src="./assets/images/episode-five.jpeg"
                    alt=""
                  />
                </div>

                <div class="episode-info-wrapper">
                  <div class="d-flex mb-16 justify-content-between">
                    <h5 class="body m-0 episode-title">5. 神祕之旅</h5>

                    <h6 class="body-small m-0 neutral-200 episode-view-time">
                      51 分鐘
                    </h6>
                  </div>

                  <p class="episode-description m-0">
                    洛基試圖逃離虛無，他在那裡遇到了幾個不同版本的自己。
                  </p>
                </div>
              </div>
            </div>

            <!-- Another episode card col -->
            <div class="col-md-6 col-12">
              <div class="episode-card">
                <div class="position-relative">
                  <img
                    class="cover"
                    src="./assets/images/episode-six.jpeg"
                    alt=""
                  />
                </div>

                <div class="episode-info-wrapper">
                  <div class="d-flex mb-16 justify-content-between">
                    <h5 class="body m-0 episode-title">6. 時刻守護</h5>

                    <h6 class="body-small m-0 neutral-200 episode-view-time">
                      48 分鐘
                    </h6>
                  </div>

                  <p class="episode-description m-0">
                    在本季大結局中，洛基和希爾維與命運有個約會，而時間無多，危險正在逼近。
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="pills-contact"
          role="tabpanel"
          aria-labelledby="pills-contact-tab"
        >
          <div class="row episodes-grid">
            <div class="col-md-6 col-12">
              <div class="episode-card">
                <div class="position-relative">
                  <img
                    class="cover"
                    src="./assets/images/episode-img.jpeg"
                    alt=""
                  />
                  <div class="progress-wrapper" style="--progress-p: 38.5">
                    <div class="progress-div"></div>
                  </div>
                </div>

                <div class="episode-info-wrapper">
                  <div class="d-flex mb-16 justify-content-between">
                    <h5 class="body m-0 episode-title">1. 光榮使命</h5>

                    <h6 class="body-small m-0 neutral-200 episode-view-time">
                      50 分鐘
                    </h6>
                  </div>

                  <p class="m-0 episode-description">
                    洛基在《復仇者聯盟4：終局之戰》偷走宇宙魔方後，來到時間變異管理局。
                  </p>
                </div>
              </div>
            </div>

            <!-- Another episode card col -->
            <div class="col-md-6 col-12">
              <div class="episode-card">
                <div class="position-relative">
                  <img
                    class="cover"
                    src="./assets/images/episode-two.jpeg"
                    alt=""
                  />
                </div>

                <div class="episode-info-wrapper">
                  <div class="d-flex mb-16 justify-content-between">
                    <h5 class="body m-0 episode-title">2. 變異因子</h5>

                    <h6 class="body-small m-0 neutral-200 episode-view-time">
                      53 分鐘
                    </h6>
                  </div>

                  <p class="episode-description m-0">
                    梅比斯讓洛基開始調查工作，但並非時變局的每個人都對惡作劇之神的出現感到興奮。
                  </p>
                </div>
              </div>
            </div>

            <!-- Another episode card col  -->
            <div class="col-md-6 col-12">
              <div class="episode-card">
                <div class="position-relative">
                  <img
                    class="cover"
                    src="./assets/images/episode-three.jpeg"
                    alt=""
                  />
                </div>

                <div class="episode-info-wrapper">
                  <div class="d-flex mb-16 justify-content-between">
                    <h5 class="body m-0 episode-title">3. 拉曼提斯</h5>

                    <h6 class="body-small m-0 neutral-200 episode-view-time">
                      49 分鐘
                    </h6>
                  </div>

                  <p class="episode-description m-0">
                    洛基知道了變異因子的計畫，但他有自己的想法，從此他們的命運將永遠改變。
                  </p>
                </div>
              </div>
            </div>

            <!-- Another episode card col  -->
            <div class="col-md-6 col-12">
              <div class="episode-card">
                <div class="position-relative">
                  <img
                    class="cover"
                    src="./assets/images/episode-four.jpeg"
                    alt=""
                  />
                </div>

                <div class="episode-info-wrapper">
                  <div class="d-flex mb-16 justify-content-between">
                    <h5 class="body m-0 episode-title">4. 分歧點事件</h5>

                    <h6 class="body-small m-0 neutral-200 episode-view-time">
                      48 分鐘
                    </h6>
                  </div>

                  <p class="episode-description m-0">
                    正當梅比斯和獵人B-15尋找洛基和希爾維，時變局內部變得愈來愈緊張和多疑。
                  </p>
                </div>
              </div>
            </div>

            <!-- Another episode card col  -->
            <div class="col-md-6 col-12">
              <div class="episode-card">
                <div class="position-relative">
                  <img
                    class="cover"
                    src="./assets/images/episode-five.jpeg"
                    alt=""
                  />
                </div>

                <div class="episode-info-wrapper">
                  <div class="d-flex mb-16 justify-content-between">
                    <h5 class="body m-0 episode-title">5. 神祕之旅</h5>

                    <h6 class="body-small m-0 neutral-200 episode-view-time">
                      51 分鐘
                    </h6>
                  </div>

                  <p class="episode-description m-0">
                    洛基試圖逃離虛無，他在那裡遇到了幾個不同版本的自己。
                  </p>
                </div>
              </div>
            </div>

            <!-- Another episode card col -->
            <div class="col-md-6 col-12">
              <div class="episode-card">
                <div class="position-relative">
                  <img
                    class="cover"
                    src="./assets/images/episode-six.jpeg"
                    alt=""
                  />
                </div>

                <div class="episode-info-wrapper">
                  <div class="d-flex mb-16 justify-content-between">
                    <h5 class="body m-0 episode-title">6. 時刻守護</h5>

                    <h6 class="body-small m-0 neutral-200 episode-view-time">
                      48 分鐘
                    </h6>
                  </div>

                  <p class="episode-description m-0">
                    在本季大結局中，洛基和希爾維與命運有個約會，而時間無多，危險正在逼近。
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h3 class="h3-heading netural-100 m-0 pb-16">類似作品</h3>
      <div class="row movie-grid">
        <div class="col-md-3 col-sm-6 col-12">
          <div class="movie-card">
            <img src="./assets/images/thor.png" alt="" />
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-12">
          <div class="movie-card">
            <img src="./assets/images/avengers-serie.jpeg" alt="" />
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-12">
          <div class="movie-card">
            <img src="./assets/images/bambi.png" alt="" />
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-12">
          <div class="movie-card">
            <img src="./assets/images/calle-dalmatas.jpeg" alt="" />
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-12">
          <div class="movie-card">
            <img src="./assets/images/bluey.jpeg" alt="" />
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-12">
          <div class="movie-card">
            <img src="./assets/images/falcon.jpeg" alt="" />
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-12">
          <div class="movie-card">
            <img src="./assets/images/cascrrabas.png" alt="" />
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-12">
          <div class="movie-card">
            <img src="./assets/images/coco.jpeg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
