<main class="w-100 h-100 position-relative">
  <!-- Hero Section Start from here -->
  <app-main-slider [movieHeroCaurosel]="orginalHeroCaurosel"></app-main-slider>

  <section class="orginal-categories-section position-relative">
    <div class="orginal-caurosel-wrapper">
      <app-common-movies-slider
        title="Disney+ 精選原創"
      ></app-common-movies-slider>
    </div>
    <div class="orginal-caurosel-wrapper">
      <app-common-movies-slider title="原創影集"></app-common-movies-slider>
    </div>
    <div class="orginal-caurosel-wrapper">
      <app-common-movies-slider title="原創電影"></app-common-movies-slider>
    </div>
    <div class="orginal-caurosel-wrapper">
      <app-common-movies-slider title="原創特輯"></app-common-movies-slider>
    </div>
  </section>
</main>
