
.orginal-categories-section{
 margin-top: -152px;
 z-index: 2;
 padding-bottom: 91px;
    
}

.orginal-caurosel-wrapper{
   padding-top: 8px;
}



@media only screen and (max-width: 540px){
    .orginal-categories-section{
        margin-top: -120px;
    }
}