<section class="login-section">
  <div class="container">
    <div
      class="d-flex w-100 justify-content-center align-items-center flex-column"
    >
      <img class="form-logo" src="./assets/icons/site-logo.svg" alt="" />
      <div class="login-form-wrapper">
        <h3 class="h3-heading pb-16 lato m-0">Inicia sesión con tu correo</h3>
        <input
          class="normal-input mb-32"
          placeholder="Correo elctrónico"
          type="text"
        />
        <button type="button" class="btn mb-24 action-btn">continuar</button>
        <p class="neutral-900 fw-normal m-0">
          ¿Primera vez en Disney+?
          <span routerlink="/register" class="caption-small cursor-pointer">
            Suscribirse</span
          >
        </p>
      </div>
    </div>
  </div>
</section>
