<section class="register-section">
  <div class="container">
    <div class="text-end">
      <span class="lato-body iniciar-sesion-text neutral-900"
        >Iniciar sesión</span
      >
    </div>

    <div class="d-flex justify-content-center">
      <img class="disney-form-logo" src="./assets/icons/site-logo.svg" alt="" />
    </div>
    <div class="register-form-wrapper">
      <span class="lato-body-review pb-11 neutral-900">Paso 1 de 4</span>

      <h3 class="h3-heading pb-18 lato m-0">Escribe tu correo electrónico</h3>
      <input
        class="normal-input mb-26"
        placeholder="Correo elctrónico"
        type="text"
      />
      <div>
        <div class="form-check mb-40">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"
          />
          <label
            class="form-check-label mL-13 lato-body-large"
            for="flexCheckDefault"
          >
            ¡Sí! Quiero recibir actualizaciones, ofertas especiales y otra
            información de Disney+ y la Familia de Compañías Walt Disney.
          </label>
        </div>
      </div>
      <button type="button" class="btn mb-32 action-btn">continuar</button>

      <div class="privacy-notice">
        <p class="m-0">
          Disney usará tus datos para personalizar y mejorar tu experiencia en
          Disney+ y para enviarte información sobre Disney+. Puedes cambiar tus
          preferencias de comunicación en cualquier momento. Podemos usar tus
          datos tal como se describe en nuestra
          <a href="">Política de privacidad</a>. Al hacer clic en Continuar,
          reconoces que has leído nuestra <a href="">Política de privacidad</a>.
        </p>
      </div>
    </div>
  </div>
</section>
