<section class="hero-section position-relative">
  <!--   Caurosel  -->
  <div class="hero-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="swiper-hero-content-wrapper w-100 position-relative">
          <!-- overlay 1 -->
          <div class="hero-swiper-overlay"></div>
          <!-- overlay 2 -->
          <div class="hero-overlay"></div>
          <!-- hero thumbnail -->
          <img
            class="hero-thumbnail w-100"
            src="./assets/images/cartoon.png"
            alt=""
          />

          <!--  Information wrapper  -->
          <div class="container">
            <div class="swiper-hero-content z-Index-2">
              <!-- Lucy Disney logo -->
              <img
                class="luca-disney-logo"
                src="./assets/icons/desney-logo.svg"
                alt=""
              />
              <!-- Content -->

              <p class="paragraph">
                《路卡的夏天》－迪士尼和皮克斯動畫工作室共同製作的原創電影－描寫一個小
                男孩在意大利里維埃拉的一個海濱小鎮的成長故事。
              </p>

              <!-- Buttons wrapper -->
              <div class="button-wrapper d-flex g-24 flex-wrap">
                <!-- Primary button -->
                <div class="primary-button">
                  <img src="./assets/icons/video-player.svg" alt="" />
                  <a class="text-decoration-none" href=""> 立即播放</a>
                </div>
                <!-- Secondary-button -->
                <div class="secondary-button">
                  <img src="./assets/icons/check.svg" alt="" />
                  <a class="text-decoration-none" href="">預告</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="swiper-hero-content-wrapper w-100 position-relative">
          <!-- overlay 1 -->
          <div class="hero-swiper-overlay"></div>
          <!-- overlay 2 -->
          <div class="hero-overlay"></div>
          <!-- hero thumbnail -->
          <img
            class="hero-thumbnail w-100"
            src="./assets/images/cartoon.png"
            alt=""
          />

          <!--  Information wrapper  -->
          <div class="container">
            <div class="swiper-hero-content z-Index-2">
              <!-- Lucy Disney logo -->
              <img
                class="luca-disney-logo"
                src="./assets/icons/desney-logo.svg"
                alt=""
              />
              <!-- Content -->

              <p class="paragraph">
                《路卡的夏天》－迪士尼和皮克斯動畫工作室共同製作的原創電影－描寫一個小
                男孩在意大利里維埃拉的一個海濱小鎮的成長故事。
              </p>

              <!-- Buttons wrapper -->
              <div class="button-wrapper d-flex g-24 flex-wrap">
                <!-- Primary button -->
                <div class="primary-button">
                  <img src="./assets/icons/video-player.svg" alt="" />
                  <a class="text-decoration-none" href=""> 立即播放</a>
                </div>
                <!-- Secondary-button -->
                <div class="secondary-button">
                  <img src="./assets/icons/check.svg" alt="" />
                  <a class="text-decoration-none" href="">預告</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  pagination -->
    <div class="swiper-pagination hero-swiper-pagination"></div>

    <!--  navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>

  <!-- Brand Categories Section -->
  <div class="brand-hero-section-overlay w-100 container">
    <div class="brand-categories-wrapper">
      <img
        class="brand-category"
        src="./assets/images/disney-category.png"
        alt=""
      />
      <img class="brand-category" src="./assets/images/pixar.png" alt="" />
      <img class="brand-category" src="./assets/images/marvel.png" alt="" />
      <img class="brand-category" src="./assets/images/star-wars.png" alt="" />
      <img class="brand-category" src="./assets/images/national.png" alt="" />
    </div>
  </div>
</section>
