<section class="users-edit-profile-section">
  <div class="container">
    <div class="d-flex mt-20 g-8">
      <img
        class="cursor-pointer"
        routerLink="/home"
        src="./assets/icons/left-arrow.svg"
        alt=""
      />
      <span class="body-small primary-100">返回</span>
    </div>

    <p class="sub-heading m-0">編輯使用者資料</p>

    <div class="users-edit-profile-wrapper">
      <div class="profiles-placeholder-img">
        <img
          class="w-100 img-fluid"
          src="assets/images/edit-profiles-img.png"
          alt="User Profiles"
        />
      </div>

      <!-- <div class="row users-edited-profile-grid d-flex justify-content-center">
        <div class="col-12 col-md-4 custom-col-lg">
          <div
            class="user-account-wrapper d-flex flex-column align-items-center"
          >
            <div class="user-account position-relative">
              <img class="avator" src="./assets/images/dp-girl.jpg" alt="" />
              <div
                class="editor-div d-flex justify-content-center align-items-center"
              >
                <img class="" src="./assets/icons/pencil-icon.svg" alt="" />
              </div>
            </div>
            <h2 class="h3-heading user-name">Buzzy</h2>
            <img
              class="profile-lock-icon"
              src="./assets/icons/lock-icon.svg"
              alt=""
            />
          </div>
        </div>

        <div class="col-12 col-md-4 custom-col-lg">
          <div
            class="user-account-wrapper d-flex flex-column align-items-center"
          >
            <div class="user-account position-relative">
              <img class="avator" src="./assets/images/dp-girl.jpg" alt="" />
              <div
                class="editor-div d-flex justify-content-center align-items-center"
              >
                <img class="" src="./assets/icons/pencil-icon.svg" alt="" />
              </div>
            </div>
            <h2 class="h3-heading user-name">Buzzy</h2>
            <img
              class="profile-lock-icon"
              src="./assets/icons/lock-icon.svg"
              alt=""
            />
          </div>
        </div>

        <div class="col-12 col-md-4 custom-col-lg">
          <div
            class="user-account-wrapper d-flex flex-column align-items-center"
          >
            <div class="user-account position-relative">
              <img class="avator" src="./assets/images/dp-girl.jpg" alt="" />
              <div
                class="editor-div d-flex justify-content-center align-items-center"
              >
                <img class="" src="./assets/icons/pencil-icon.svg" alt="" />
              </div>
            </div>
            <h2 class="h3-heading user-name">Buzzy</h2>
            <img
              class="profile-lock-icon"
              src="./assets/icons/lock-icon.svg"
              alt=""
            />
          </div>
        </div>

        <div class="col-12 col-md-4 custom-col-lg">
          <div
            class="user-account-wrapper d-flex flex-column align-items-center"
          >
            <div class="user-account position-relative">
              <img class="avator" src="./assets/images/dp-girl.jpg" alt="" />
              <div
                class="editor-div d-flex justify-content-center align-items-center"
              >
                <img class="" src="./assets/icons/pencil-icon.svg" alt="" />
              </div>
            </div>
            <h2 class="h3-heading user-name">Buzzy</h2>
            <img
              class="profile-lock-icon"
              src="./assets/icons/lock-icon.svg"
              alt=""
            />
          </div>
        </div>

        <div class="col-12 col-md-4 custom-col-lg">
          <div
            class="user-account-wrapper d-flex flex-column align-items-center"
          >
            <div class="user-account position-relative">
              <img class="avator" src="./assets/images/dp-girl.jpg" alt="" />
              <div
                class="editor-div d-flex justify-content-center align-items-center"
              >
                <img class="" src="./assets/icons/pencil-icon.svg" alt="" />
              </div>
            </div>
            <h2 class="h3-heading user-name">Buzzy</h2>
            <img
              class="profile-lock-icon"
              src="./assets/icons/lock-icon.svg"
              alt=""
            />
          </div>
        </div>

        <div class="col-12 col-md-4 custom-col-lg">
          <div
            class="user-account-wrapper d-flex flex-column align-items-center"
          >
            <div class="user-account position-relative">
              <img class="avator" src="./assets/images/dp-girl.jpg" alt="" />
              <div
                class="editor-div d-flex justify-content-center align-items-center"
              >
                <img class="" src="./assets/icons/pencil-icon.svg" alt="" />
              </div>
            </div>
            <h2 class="h3-heading user-name">Buzzy</h2>
            <img
              class="profile-lock-icon"
              src="./assets/icons/lock-icon.svg"
              alt=""
            />
          </div>
        </div>

        <div class="col-12 col-md-4 custom-col-lg">
          <div
            class="user-account-wrapper d-flex flex-column align-items-center"
          >
            <div class="user-account position-relative">
              <img class="avator" src="./assets/images/dp-girl.jpg" alt="" />
              <div
                class="editor-div d-flex justify-content-center align-items-center"
              >
                <img class="" src="./assets/icons/pencil-icon.svg" alt="" />
              </div>
            </div>
            <h2 class="h3-heading user-name">Buzzy</h2>
            <img
              class="profile-lock-icon"
              src="./assets/icons/lock-icon.svg"
              alt=""
            />
          </div>
        </div>
      </div> -->
    </div>

    <div class="d-flex justify-content-center align-items-center">
      <button
        routerLink="/home"
        class="primary-button text-center d-flex align-items-center justify-content-center completed-btn"
      >
        完成
      </button>
    </div>
  </div>
</section>
