<section class="category-reserve-section">
  <div class="container">
    <h2 class="categories-heading text-uppercase">MARVEL</h2>

    <app-common-movies-slider
      [movies]="trendingmoives"
      title="近期流行"
    ></app-common-movies-slider>
    <app-common-movies-slider
      [movies]="continueWatchings"
      title="漫威電影宇宙"
    ></app-common-movies-slider>
    <app-common-movies-slider
      [movies]="actionAdventures"
      title="漫威電影宇宙：第一階段"
    ></app-common-movies-slider>
    <app-common-movies-slider
      [movies]="trendingmoives"
      title="漫威電影宇宙：第二階段"
    ></app-common-movies-slider>

    <app-common-movies-slider
      [movies]="chronicleCollections"
      title="漫威電影宇宙：第二階段"
    ></app-common-movies-slider>

    <app-common-movies-slider
      [movies]="continueWatchings"
      title="漫威電影宇宙：第三和第四階段"
    ></app-common-movies-slider>

    <app-common-movies-slider
      [movies]="actionAdventures"
      title="漫威電影宇宙：按時間順序"
    ></app-common-movies-slider>

    <app-common-movies-slider
      [movies]="animationVideos"
      title="漫威經典：動畫"
    ></app-common-movies-slider>
  </div>
</section>
